/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #f97316;
  --ifm-color-primary-dark: #ea580c;
  --ifm-color-primary-darker: #c2410c;
  --ifm-color-primary-darkest: #9a3412;
  --ifm-color-primary-light: #fb923c;
  --ifm-color-primary-lighter: #fdba74;
  --ifm-color-primary-lightest: #ffedd5;

  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* Slightly lighter / brighter oranges for dark mode for contrast */
[data-theme='dark'] {
  --ifm-color-primary: #ff9800;
  --ifm-color-primary-dark: #fb8c00;
  --ifm-color-primary-darker: #f57c00;
  --ifm-color-primary-darkest: #e65100;
  --ifm-color-primary-light: #ffac33;
  --ifm-color-primary-lighter: #ffc066;
  --ifm-color-primary-lightest: #ffd699;

  --docusaurus-highlighted-code-line-bg: rgba(255, 255, 255, 0.15);
}
